<div class="container">
    <div class="col-md-4 col-md-offset-4">

        <form class="form-signin" id="login-form">
            <h3>Anmelden</h3>
            <hr>
            <label for="inputUser" class="sr-only">Benutzername</label>
            <input type="text" id="inputUser" class="form-control" placeholder="Benutzername" required autofocus><br>
            <label for="inputPassword" class="sr-only">Paswort</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> eingeloggt bleiben
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Einloggen</button>
        </form>
        <hr>
        Noch kein Account? <a [routerLink]="['Register']">Hier</a> registrieren!
    </div>
</div>