<div class="page-header">
    <h1>Meine ToDo's</h1>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="input-group input-group-lg">
            <input [(ngModel)]="content" type="text" class="form-control input-lg" id="search-church" placeholder="Neue ToDo">
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" (click) = "addNote()">Hinzufügen</button>
      </span>
        </div>
    </div>
</div>
<br>
<button (click) = "holeNotizen()">Notizen </button>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="">#</th>
            <th class="col-md-7">ToDo</th>
            <th class="col-md-2">Besitzer</th>
            <th>Optionen</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let todo of todos">

            <!--<td>{{todo.id}}</td>
            <td>{{todo.text}}</td>
            <td>{{todo.owner}}</td>-->

            <td>{{todo.Name}}</td>
            <td>{{todo.City}}</td>
            <td>{{todo.Country}}</td>
            <td class="text-right">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Bearbeiten
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span> Löschen
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="../node_modules/bootbox/bootbox.min.js"></script>

<script>
    $(document).on("click", ".alert", function (e) {
        bootbox.alert("Hello world!", function () {
            console.log("Alert Callback");
        });
    });
</script>